# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# Environment files
*.env
*.env.*
!example.env

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
media/
staticfiles/
static/

# Django local settings
/local_settings.py

# VSCode
.vscode/

# PyCharm
.idea/

# Byte-compiled
*.so

# mypy / pyright / pylint
.mypy_cache/
.pytest_cache/
.spyproject/
.pyre/
coverage_html_report/
.pytype/

# distro packages
dist/
build/
*.egg-info/
.eggs/

# Node (если используешь React)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# OS files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
