@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  --main-color: #ff8f52;
  --gray-color: #838383;
  --bg-color: #f2f2f2;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  background: var(--bg-color);
}

a {
  color: inherit;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
