.bestSellers__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

@media (max-width: 968px) {
  .bestSellers__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 475px) {
  .bestSellers__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
