.favorites {
  flex: 1;
}

.favorites__title {
  font-size: 28px;
  font-weight: 500;
  padding: 27px 40px 30px;
  border-bottom: 1px solid #8383834b;
}

.favorites__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 16px;
  margin-top: 40px;
  padding: 20px;
}

@media (max-width: 1024px) {
  .favorites__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 820px) {
  .favorites__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 540px) {
  .favorites__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
