.productReviews {
  flex: 1;
}

.productReviews__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productReviews__title {
  font-weight: 500;
  font-size: 22px;
}

.productReviews__button {
  color: var(--main-color);
  font-size: 22px;
}

.productReviews__list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 34px;
  max-height: 300px;
  overflow-y: auto;
}

@media (max-width: 910px) {
  .productReviews {
    width: 100%;
  }
}
